<p>
ID: <%= user.id %><br/>
Username: <%= user.email %><br/>
Name: <%= user.displayName %><br/>
<% if (user.emails) { %>
Email: <%= user.emails[0].value %><br/>
<% } %>
<img height="125px" src="<%= user._json.cover.source %>" alt="<%= user.displayName %>" /><br/>

</p>